/* Play Seed would load styles linked from main.html 
   into the playground sandbox
*/

/* Changing background color to make rendered 
   hello app more distinctive  */
body {
    background-color: rgb(255, 255, 255);
}